{% extends 'frontoffice/index.html.twig' %}
{% block content %}
      <!-- End Subheader --><!-- Start Blog -->
      <div class="subheader normal-bg section-padding">
         <div class="container">
            <div class="row">
               <div class="col-12">
                  <h1 class="text-custom-white">Vehicules</h1>
                  <ul class="custom-flex justify-content-center">
                     <li class="fw-500"><a href="{{ path('home_index') }}" class="text-custom-white">Acceuil</a></li>
                     <li class="active fw-500">Vehicules </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <!-- End Subheader --><!-- Start Blog -->
      <section class="section-padding bg-light-white">
         <div class="container">
            <div class="row">
               <div class="col-12">
                  <div class="listing-top-heading mb-xl-20">
                     <h6 class="no-margin text-custom-black">Affichage {{vehicules|length}} Resultats</h6>
                  </div>
               </div>
               {% for vehicule in vehicules %}
               <div class=" col-lg-4 col-md-6">
                  <div class="car-grid mb-xl-30">
                     <div class="car-grid-wrapper car-grid bx-wrapper">
                        <div class="image-sec animate-img"><a href="#"><img src="{{ vich_uploader_asset(vehicule, 'Def') }}" class="full-width" alt="img"></a></div>
                        <div class="car-grid-caption padding-20 bg-custom-white p-relative">
                           <h4 class="title fs-16"><a href="#" class="text-custom-black">{{vehicule.Marque}} : {{vehicule.Modele}}<small class="text-light-dark">Par jour</small></a></h4>
                           <span class="price"><small>a partir de </small>{{vehicule.Prix}} DT {{vehicule.isVAT ? "TTC" : ""}}</span>
                           <p>{{vehicule.Description}}</p>
                           <div class="action"><a class="btn-second btn-small" href="{{ path('front_office_car', {'id': vehicule.id}) }}">View</a></div>
                        </div>
                     </div>
                  </div>
               </div>
               {% endfor %}
            </div>
         </div>
      </section>
      <!-- End Blog -->
      {% endblock %}