{% extends "dashboard/index.html.twig" %}
{% block content %}
    <main>
        <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
            <div class="container-fluid px-4">
                <div class="page-header-content">
                    <div class="row align-items-center justify-content-between pt-3">
                        <div class="col-auto mb-3">
                            <h1 class="page-header-title">
                                <div class="page-header-icon">
                                    <i data-feather="eye"></i>
                                </div>
                                Vehicules list                                                                                                                 
                            </h1>
                        </div>
                        <div class="col-12 col-xl-auto mb-3">
                            <a class="btn btn-sm btn-light text-primary" href="{{ path('vehicule_new') }}">
                                <i class="me-1" data-feather="user-plus"></i>
                                Add New Vehicule                             
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main page content-->
        <div class="container-fluid px-4">
            <div class="card">
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>
                                    Matricule
                                </th>
                                <th>
                                    Park
                                </th>
                                <th>
                                    Marque
                                </th>
                                <th>
                                    Modele
                                </th>
                                <th>
                                    Categorie
                                </th>
                                <th>
                                    Boite
                                </th>
                                <th>
                                    Carburant
                                </th>
                                <th>
                                    Nb Places
                                </th>
                                <th>
                                    Nb Portes
                                </th>
                                <th>
                                    Nb Valises
                                </th>
                                <th>
                                    Cautionnement
                                </th>
                                <th>
                                    Photo Default
                                </th>
                                <th>
                                    actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for vehicule in vehicules %}
                                <tr>
                                    <td>
                                        {{ vehicule.Matricule }}
                                    </td>
                                    <td>
                                       <a href="{{ url }}/park/{{ vehicule.Park }}">{{ vehicule.Park}}</a>
                                    </td>
                                    <td>
                                        {{ vehicule.Marque }}
                                    </td>
                                    <td>
                                        {{ vehicule.Modele }}
                                    </td>
                                    <td>
                                        {{ vehicule.Categorie }}
                                    </td>
                                    <td>
                                        {{ vehicule.Boite }}
                                    </td>
                                    <td>
                                        {{ vehicule.Carb }}
                                    </td>
                                    <td>
                                        {{ vehicule.NbPlaces }}
                                    </td>
                                    <td>
                                        {{ vehicule.NbPortes }}
                                    </td>
                                    <td>
                                        {{ vehicule.NbVal }}
                                    </td>
                                    <td>
                                        {{ vehicule.Caut }}
                                    </td>
                                    <td>
                                        <img src="{{ vich_uploader_asset(vehicule, 'Def') }}" width="50px" height="25px" />
                                    </td>
                                    <td>
                                        <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" href="{{ path('vehicule_show', {'id': vehicule.id}) }}">
                                            <i data-feather="eye"></i>
                                        </a>
                                        <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" href="{{ path('vehicule_edit', {'id': vehicule.id}) }}">
                                            <i data-feather="edit"></i>
                                        </a>
                                        <a class="btn btn-datatable btn-icon btn-transparent-dark me-2">
                                            {{ include('vehicule/_delete_form.html.twig') }}
                                        </a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="17">
                                        no records found
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
{% endblock %}