{% extends "dashboard/index.html.twig" %}
.twig' %}

{% block title %}Park{% endblock %}

{% block body %}
    <h1>Park</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ park.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ park.Nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_park_index') }}">back to list</a>

    <a href="{{ path('app_park_edit', {'id': park.id}) }}">edit</a>

    {{ include('park/_delete_form.html.twig') }}
{% endblock %}
